<footer &copy;>
    <p>
        <!-- icon -->
        <i class="far fa-copyright"></i>
        Sumit Yadav. All Rights Reserved
    </p>

    <ul type="none">
        <li>
            <a href="/">Home</a>
        </li>
        <% if(locals.user){ %> 
        <li>
            <a href="/users/profile/<%= user._id %>">Profile</a>
        </li>
        <% } %>
    </ul>

</footer>