<html>
    <head>
        <title>
            <%= title %>
        </title>

    </head>
    <link rel="stylesheet" href="/css/layout.css">

    <body>
        <%- include('_header'); %>

        <%- body %>

        <%- include('_footer'); %>
    
    </body>
</html>