// variables
$white-text: white;

footer{
    background-color: grey;
    display: flex;
    align-items: center;
    color: $white-text;

    a{
        text-decoration: none;
        color: $white-text;

        &:hover{
            color: orange;
        }
    }
}