
#home-container{
  display: flex;

  #feed-posts{
    width: 70%;
    padding: 10px ;
  }

  #user-friends{
    width: 30%;
    padding: 10 px;
    border: 1 px solid lightgrey;
    height: 100% ;

  }
}
